.App {
  width: 100%;
}

.employee-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 10px auto;
  flex-direction: row;

}

.card {
  width: 25%;
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 1px;
}

.picture {
  border-radius: 90px;
  max-width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}