.sing-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F1EFEF;
}



.input{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #7D7C7C;
    outline: none;
    padding: 5px;
}

.button {
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: #7D7C7C;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
  background-color: #CCC8AA;
  color: #191717;
  transition: transform 0.2s; 
}
.button:active{
    transform: scale(0.9);
}

.fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    color: #191717
}